html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

body {
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #264653;
}

.card-content p {
  margin: 10px 0;
  font-size: 0.95em;
  color: #555;
}

.abilities {
  margin-top: 10px;
}

.abilities strong {
  color: #2a9d8f;
}

.habilidad {
  background: #e9c46a;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  font-size: 0.8em;
  color: white;
}
